# Ignore everything
*

# But not these files...
!.gitignore
!fyp_interim_report.tex
!fyp_plan.tex
!interim_refs.bib
!plan_refs.bib
!project_interim.cls
!project_plan.cls
!rhul_logo.pdf
# etc...

# '!*/' for subdirectories (we want subdirectories)
