# Ignore everything
*

# But not these files...
!.gitignore
!interim.tex
!plan.tex
!final.tex
!refs.bib
!final.cls
!interim.cls
!plan.cls
!rhul_logo.pdf
!words_counter.ps1
!final.drawio
!interim.drawio
!interim.pptx

!*.png
faeq_faisal_signature.png
!architecture.pdf
!sequence_connecting.pdf
!sequence_creating.pdf
!sequence_disconnecting.pdf
!sequence_messaging.pdf
!sequence_playing.pdf
!use_case.pdf

!**/code_listing_creator/**

# even if they are in subdirs
!*/