# Ignore everything
*

# But not these files...
!.gitignore
!interim.tex
!plan.tex
!final.tex
!refs.bib
!final.cls
!interim.cls
!plan.cls
!rhul_logo.pdf
!words_counter.ps1
!final.drawio
!interim.drawio
!interim.pptx

!*.png
faeq_faisal_signature.png
!architecture.pdf
!sequence_connecting.pdf
!sequence_creating.pdf
!sequence_disconnecting.pdf
!sequence_messaging.pdf
!sequence_playing.pdf
!use_case.pdf

!box_click.pdf
!director_actor.pdf
!final_architecture.pdf
!game_actor_start.pdf
!game_code_gen.pdf
!mist_websocket.pdf
!on_join_game.pdf
!supervision_tree.pdf
!supervision_tree_deployment_eg.pdf
!winning.pdf
!battle_supervisor_start.pdf
!battle_supervisor.pdf
!director_actor.pdf
!director_start.pdf
!go_to_map.pdf
!main_supervisor.pdf
!swap_colors.pdf
!update_state_move.pdf
!racing.pdf
!compound.pdf

!**/code_listing_creator/**

# even if they are in subdirs
!*/