*.beam
*.ez
/build
erl_crash.dump
*Zone.Identifier
/static/libraries
.env
zarlasht.crt
zarlasht.csr
zarlasht.ext
zarlasht.key
# all lucide icons in lustre, installed via 'gleam run -m lucide_lustre/add_all'
lucide_lustre.gleam