@import url("tailwind_override.css");
@import url("text.css");
@import url("created_game.css");
@import url("chat.css");
@import url("map.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  user-select: none;
}

#app,
body {
  overflow: hidden;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;

  min-width: 100vw;
  max-width: 100vw;
  width: 100vw;

  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  padding: 1rem;
  background: white;
}

html.dark #app {
  background: black;
}

#page {
  overflow: hidden;
  text-align: left;
  clip-path: xywh(0 0 100% 100% round 1.5rem 1.5rem)
}

#page:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('/static/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  transition: filter 1s;
  top: 0;
  left: 0;
}

html.dark #page:before {
  transition: filter 1s;
  filter: invert(1);
}

.fogWrap {
  perspective-origin: 50% 50%;
}

.fogWrap img {
  position: absolute;
  bottom: -100vh;
  transform-style: preserve-3d;
  z-index: -1;
  max-width: 20px;
}

html.dark .fogWrap img {
  filter: invert(1);
}
